/* Variables */
:root {
	--transparency: 1;
	--hotbar: 56px;
}

@font-face {
	font-family: Ubuntu;
	src: url(ubuntu.woff2);
}

.rainbow {
	animation: rainbow 1s linear infinite;
}

@keyframes rainbow{
	0% {
		color: orange;
	}	
	
	10% {
		color: purple;
	}	
	
	20% {
		color: red;
	}
	
	30% {
		color: CadetBlue;
	}
	
	40% {
		color: yellow;
	}
	
	50% {
		color: coral;
	}
	
	60% {
		color: green;
	}
	 
	70% {
		color: cyan;
	}
	
	80% {
		color: DeepPink;
	}
	
	90% {
		color: DodgerBlue;
	}
	
	100% {
		color: orange;
	}
}

* {
	box-sizing: border-box;
	font-family: Ubuntu;
	background-color: #333333;
}

.flip-page {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
 /* General */
 .av-thin {
	width: 90%;
	color: #ffffff;
	background-color: rgba(85, 85, 85, var(--transparency));
	margin: 0 auto 0 auto !important;
	border-radius: 0 0 1em 1em;
	padding-bottom: 4px;
	overflow: hidden;
	padding-top: var(--hotbar);
	margin-top: var(--hotbar) !important;
}

.bar-image {
	background: transparent;
	height: 100%;
	padding-left: 35px;
	padding-right: 10px;
	user-select: none;
}

p,
h1,
h2 {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	padding-left: 80px;
	padding-right: 80px;
	font-family: Ubuntu;
	overflow-wrap: anywhere;
}

h3 {
	background-color: rgba(0, 0, 0, 0);
	font-family: Ubuntu !important;
	line-height: 1em;
	margin: 0;
}

h4 {
	background-color: rgba(0, 0, 0, 0);
	font-family: Ubuntu !important;
	line-height: 0.9em;
	margin: 0;
}

span {
	background-color: rgba(0, 0, 0, 0);
}

a {
	text-decoration: none;
}

.topbar {
	color: #fff !important;
	background-color: rgba(68, 68, 68, 1);
	position: fixed;
	z-index: 99;
	white-space: nowrap;
	height: var(--hotbar);
	margin-top: calc(var(--hotbar) * -1);
	border-color: transparent transparent white;
	border-width: 1px;
	border-style: solid;
	width: 100%;
	overflow: hidden;
}

.topbar-button {
	user-select: none;
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.aero-blue {
	color: #fff !important;
	background-color: #46BCE3 !important;
}

.aero-blue:hover {
	color: #fff !important;
	background-color: #337a92 !important;
	transition: 0.3s;
}

.pon-pink {
	color: #fff !important;
	background-color: #ED7CB1 !important;
}

.pon-pink:hover {
	color: #fff !important;
	background-color: #a75d7f !important;
	transition: 0.3s;
}

.nyork-green {
	color: #fff !important;
	background-color: #7bec37 !important;
}

.nyork-green:hover {
	color: #fff !important;
	background-color: #519924 !important;
	transition: 0.3s;
}

.rodney-violet {
	color: #fff !important;
	background-color: #9662ef !important;
}

.rodney-violet:hover {
	color: #fff !important;
	background-color: #774dc0 !important;
	transition: 0.3s;
}

.no-link {
	color: #ff0000;
}

.link {
	color: #6EC7E7;
}

.comic-link {
	color: #FCDB6D;
}

.page-header {
	font-family: 'Ubuntu';
	margin-top: -40px;
}

ul {
	list-style-type: none;
}

.pixel {
	image-rendering: crisp-edges;
}

/* The Comics */
.comic-slideshow-container {
	max-width: 500px;
	position: relative;
	margin: auto;
	background-color: rgba(0, 0, 0, 0);
}

.comic-slides {
	background-color: rgba(0, 0, 0, 0);
	margin-top: 30px;
}

.comic-caption {
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	font-weight: bold;
}

.comic-panel {
	max-height: 21.5em;
	height: 21.5em;
	text-align: center;
	display: flex;
	margin: 0 auto 0 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0);
}

#comic-slide-input {
	color: white;
	width: 9em;
	text-align: center;
}

.comic-prev,
.comic-next {
	left: 0;
	cursor: pointer;
	position: absolute;
	width: auto;
	padding: 3px;
	background-color: rgba(0, 0, 0, 0.4);
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
	float: left;
	border-radius: 0.6em;
	border-color: #000000;
	border-width: 2px;
	border-style: solid;
	bottom: 3.5px;
}

.comic-next {
	left: auto;
	right: 0;
	border-radius: 0.6em;
	float: right;
}

.comic-prev:hover,
.comic-next:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.comic-slidetext {
	text-align: center; 
	background-color: transparent;
	height: 1.4em;
}

.comic-slidelabel {
	background-color: transparent;
	line-height: 2.55em;
	user-select: none;
}
.comic-title {
	text-align: center;
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0);
	line-height: 0;
	margin-top: -77px;
}

.comic-numbertext {
	top: -50px;
	left: -60px;
	position: relative;
}

.comic-description {
	text-align: center;
	font-family: Ubuntu;
	background-color: rgba(0, 0, 0, 0);
	color: #ffffff;
	font-size: 17px;
}

/* The Wiki */
#menu {
	position: fixed;
	right: 0;
	top: 50%;
	width: 8em;
	margin-top: -2.5em;
}

.wiki-infobox {
	border: 1px solid #ffffff;
	border-spacing: 3px;
	background-color: #555555;
	color: white;
	margin: 0.5em 1em 0.5em 1em;
	padding: 0.2em;
	float: right;
	clear: right;
	font-size: 88%;
	line-height: 1.5em;
	left: 150px;
	width: 22em;
}

.wiki-infobox caption {
	border: 1px solid #ffffff;
	border-spacing: 3px;
	font-size: 125%;
	font-weight: bold;
	padding: 0.2em;
	text-align: center;
}

.wiki-infobox iframe {
	vertical-align: middle;
	margin: 6px;
	width: 280px;
	height: 280px;
}

.wiki-infobox-image-td {
	background-color: #555555;
	text-align: center;
}

.wiki-navbox td {
	background-color: #555555;
}

.wiki-navbox,
.wiki-warning {
	border: 1px solid #ffffff;
	border-spacing: 3px;
	box-sizing: border-box;
	background-color: #555555;
	color: white;
	margin: 1em auto 1em;
	padding: 1px;
	clear: both;
	font-size: 88%;
	line-height: 1.5em;
	width: 95%;
	text-align: center;
}

.wiki-navbox caption,
.wiki-warning caption {
	border: 1px solid #ffffff;
	border-spacing: 3px;
	font-size: 125%;
	font-weight: bold;
	padding: 0.2em;
	text-align: center;
}

.wiki-outer-table-header,
.wiki-inner-table-header {
	padding: 0.25em 1em;
	line-height:1.5em;
	text-align: center;
	width: 1%;
}

.wiki-navbox-hide-text {
	float: right;
	color: #6EC7E7;
	cursor: pointer;
	font-size: 75%;
	padding-right: 3px;
	user-select: none;
}

.wiki-inner-table-header {
	white-space: nowrap;
}

.wiki-navbox div {
	text-align: left;
	padding-left: 8px;
}

.wiki-warning {
	width: 50%;
	background-color: #444444;
	float: right;
	margin: 0.4em 1em;
}

.wiki-warning td {
	background-color: #444444;
}

.wiki-navbox-symbol {
	background-color: #333333;
	padding-left: 7px;
	height: 27px;
}

.wiki-navbox-image {
	background-color: #555555;
	max-width: 300px;
	width: 300px;
	vertical-align: unset;
}

.aerospin {
	position: relative;
	display: inline-block;
}

.aerospin .aerospin-top {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}
.aerospin:hover .aerospin-top {
	display: inline;
}

/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
	box-sizing: border-box
}

*,
*:before,
*:after {
	box-sizing: inherit
}

body {
	margin: 0;
	background-color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
	display: block
}

summary {
	display: list-item
}

audio,
canvas,
progress,
video {
	display: inline-block
}

progress {
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline-width: 0
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: bolder
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -0.25em
}

sup {
	top: -0.5em
}

figure {
	margin: 1em 40px
}

img {
	border-style: none
}

code,
kbd,
pre,
samp {
	font-family: Ubuntu;
	font-size: 1em
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

button,
input,
select,
textarea,
optgroup {
	font: inherit;
	margin: 0
}

optgroup {
	font-weight: bold
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

textarea {
	overflow: auto
}

[type=checkbox],
[type=radio] {
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

/* End extract */
html,
body {
	font-family: Ubuntu;
	font-size: 16px;
	line-height: 1.5;
	background-size: 10em;
}

html {
	overflow-x: hidden;
	background-image: url(./images/bg.png);
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 20px
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 16px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0
}


img {
	vertical-align: middle
}

a {
	color: inherit
}
